body {
  background-color: #131315;
  margin: 0px;
}

@font-face {
  font-family: ClashDisplay;
  src: url(../../../public/ClashDisplay-Variable.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

::selection {
  background-color: #8619ff;
  color: #ffffff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ffffff;
}

::-webkit-scrollbar {
  width: 0.2vw;
  transition: width 0.5s;
}

::-webkit-scrollbar:hover {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: linear-gradient(180deg, #BD00FF 0%, #0057FF 100%);
}

::-webkit-scrollbar-track {
  background-color: #252525;
}

button:active {
  transform: scale(0.96);
}

@keyframes opacidadeGradiente {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.3;
  }
}

@keyframes rotacionarGradiente {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 100% 100%;
  }
}

.inicio {

  height: 45rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background: radial-gradient(50% 50% at 50% 50%, rgba(64, 0, 87, 0.42) 0%, rgba(19, 19, 21, 0.00) 100%);
  animation: rotacionarGradiente 2s linear infinite alternate;
  background-size: 200% 100%;
  /* Adicionando esta linha */
}

.inicio-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inicio-box .foto {
  display: none;
}

.inicio .frase {
  width: 25.4rem;
  color: #fff;
  text-align: center;
  font-family: ClashDisplay;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 90%;
}

.inicio .gradiente-frase {
  background: linear-gradient(271deg, #BD00FF 23.52%, #0057FF 143.29%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: ClashDisplay;
  font-style: normal;
  font-weight: 600;
  overflow: hidden;
}

.inicio .separador {
  width: 15rem;
  height: 1px;
  background-color: #ffffff;
  border: none;
  border-radius: 20px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  transition: width 0.3s, margin-top 0.3s;
}

.inicio .frase:hover .separador {
  margin-top: 0.2rem;
  width: 25rem;
}


.inicio .mensagem {
  color: #5A5A5A;
  text-align: center;
  font-family: ClashDisplay;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 107.3%;
  width: 35rem;

  flex-shrink: 0;
}

.inicio .contato .botao {
  margin-top: 2rem;
  color: #fff;
  font-family: ClashDisplay;
  font-size: 1.2rem;
  letter-spacing: 0.3px;
  font-weight: 500;
  cursor: pointer;
  display: inline-flex;
  padding: 1.3rem 2rem;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 1rem;
  box-shadow: none;
  background: linear-gradient(96deg, #0057FF -29.23%, #BD00FF 90.4%);
  transition: box-shadow 0.2s, transform 0.2s;
}

.inicio .contato .botao:hover {
  box-shadow: 0px 0px 10px 7px rgba(100, 41, 255, 0.24);
  transform: scale(1.1);
}

.inicio .contato .botao:active {
  transform: scale(1.05);
}

.inicio .softwares {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.inicio .softwaresUso {
  color: #5A5A5A;
  text-align: center;
  font-family: ClashDisplay;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 500;
  line-height: 107.3%;
}

.inicio .icones {
  margin: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.inicio .icones img {
  display: flex;
  width: 1.5rem;
  transition: transform 0.15s, margin 0.15s;
}

.inicio .icones img:hover {
  margin: 0 0.5vw;
  transform: scale(1.3);
}

/*---------------------------------sessão "sobre mim"-------------------------------*/

.sobre-mim {
  height: 35rem;
  display: flex;
  flex-direction: row;
  background: radial-gradient(59.41% 52.44% at 46.04% 47.71%, rgba(189, 0, 255, 0.13) 0%, rgba(189, 0, 255, 0.00) 100%), linear-gradient(91deg, rgba(217, 217, 217, 0.25) -5.03%, rgba(217, 217, 217, 0.00) -5.02%, rgba(217, 217, 217, 0.05) 27.86%, rgba(217, 217, 217, 0.04) 46.25%, rgba(217, 217, 217, 0.09) 89.31%, rgba(217, 217, 217, 0.00) 102%);
}

.sobre-mim .sobre-esquerda {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 48%;
  gap: 2rem;
  margin-left: 1rem;
}

.sobre-mim .sobre-esquerda .foto {
  display: flex;
  align-items: center;
}

.sobre-mim .foto img {
  width: 21rem;
  transition: width 0.5s;
}

.sobre-mim .foto img:hover {
  width: 23rem;
}

.sobre-mim .sobre-esquerda .info {
  font-family: ClashDisplay;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  line-height: 90%;
  font-size: 1rem;
  font-weight: 300;
  gap: 3.5rem;
}

.sobre-mim .sobre-esquerda .info .design {
  color: #fff;
}

.sobre-mim .design .quatroAnos {
  background: linear-gradient(271deg, #BD00FF 23.52%, #0057FF 143.29%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: ClashDisplay;
  font-style: normal;
  font-size: 2rem;
  font-weight: 600;
}

.sobre-mim .sobre-esquerda .info .programacao {
  color: #fff;
}

.sobre-mim .programacao .doisAnos {
  background: linear-gradient(271deg, #BD00FF 23.52%, #0057FF 143.29%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: ClashDisplay;
  font-style: normal;
  font-size: 2rem;

  font-weight: 600;
}

.sobre-mim .sobre-divisao {
  display: flex;
  align-items: center;
  width: 4%;
}

.sobre-mim .sobre-direita {
  width: 48%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  font-family: ClashDisplay;
}

.sobre-mim .sobre-direita .texto {

  padding-bottom: 5rem;
  margin: 10%;
  display: flex;
  flex-direction: column;
  font-weight: 200;
}

.sobre-mim .sobre-direita .texto p {
  margin: 1rem 0;
}

.sobre-mim .ola {
  background: linear-gradient(270deg, #BD00FF 90%, #0057FF 110%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: ClashDisplay;
  font-style: normal;
  font-size: 3rem;
  font-weight: 600;
}

.sobre-mim .sobre-div {
  background: linear-gradient(180deg, #400057 0%, #0057FF 100%);
  width: 4px;
  height: 80%;
  border-radius: 15px;
  border: none;
}

/*---------------------------------sessão "o que eu faço?"-------------------------------*/

.oQueFaco {
  background: radial-gradient(47.11% 47.09% at 38.05% 52.91%, rgba(189, 0, 255, 0.20) 0%, rgba(0, 0, 0, 0.00) 100%), linear-gradient(91deg, rgba(217, 217, 217, 0.15) -5.03%, rgba(217, 217, 217, 0.00) -5.02%, rgba(217, 217, 217, 0.03) 27.86%, rgba(217, 217, 217, 0.02) 46.25%, rgba(217, 217, 217, 0.05) 89.31%, rgba(217, 217, 217, 0.00) 102%);
  animation: rotacionarGradiente 5s linear infinite alternate;
  background-size: 200% 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: ClashDisplay;
}

.oQueFaco .frases {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.oQueFaco .frases .titulo {
  background: linear-gradient(271deg, #BD00FF 23.52%, #0057FF 143.29%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
  font-weight: 600;
  margin: 5rem 2rem;
}

.oQueFaco .frases .texto {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  width: 60rem;
  font-weight: 500;
  color: #fff;
  gap: 1rem;
}

.oQueFaco .frases .texto span {
  font-weight: 100;
  color: #ffffff;
}

.oQueFaco .caixas {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  margin: 10rem 0;
}

.oQueFaco .caixas .caixa {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 19px;
  background: rgba(217, 217, 217, 0.05);
  width: 80vw;
  height: 14rem;
  transition: width 0.3s, background 0.2s;
}

.oQueFaco .caixa:hover {
  width: 98.5vw;
  background: linear-gradient(120deg, #BD00FF 20%, #0057FF 90.4%);
  animation: rotacionarGradiente 4s linear infinite alternate;
  background-size: 200% 100%;
}

.oQueFaco .caixa:hover .botao button {
  background: #ffffff;
  color: #000;
  font-weight: 600;
  cursor: pointer;
}


.oQueFaco .caixas hr {
  background: linear-gradient(96deg, #0057FF -29.23%, #BD00FF 90.4%);
  border: none;
  width: 0.8rem;
  height: 9rem;
  border-radius: 100px;
  margin: 2rem 4rem 2rem 2rem;
  transition: background 1s;
}

.oQueFaco .caixa:hover hr {
  background: #161616;
}

.oQueFaco .caixas .texto {
  color: #fff;
  display: flex;
  flex-direction: column;
  font-weight: 100;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0.5px;
  margin: 5px 0;
  width: 70rem;
  gap: 0.9rem;
}

.oQueFaco .caixas .texto .titulo {
  font-weight: 500;
  font-size: 1.2rem;
  color: #fff;
}

.oQueFaco .caixa .projeto {
  display: block;
  width: 10rem;
  height: 0rem;
  border-radius: 10px;
  transition: width 0.5s, height 0.5s;
  margin: 0 1rem;
  border: none;
}

.oQueFaco .caixa:hover .projeto {
  display: flex;
  align-items: center;
  width: auto;
  height: 130%;
}

.oQueFaco .caixas .botao {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 4rem;
  width: 30rem;
}

.oQueFaco .caixas .botao button {
  font-size: 20px;
  padding: 0 2rem;
  font-weight: 500;
  color: #fff;
  font-family: ClashDisplay;
  border: none;
  border-radius: 15px;
  background: linear-gradient(262deg, #BD00FF 0%, #0057FF 100%);
  transition: padding 0.2s;
}

.oQueFaco .caixas .botao button:hover {
  padding: 0.5rem 2rem;
}


/*---------------------------------sessão "habilidades"-------------------------------*/


.habilidades {
  height: 55rem;
  font-family: ClashDisplay;
  background: radial-gradient(50% 50% at 50% 50%, rgba(64, 0, 87, 0.69) 0%, rgba(19, 19, 21, 0.00) 100%);
}

.habilidades .texto span {
  background: linear-gradient(267deg, #c72eff 7.77%, #2d73ff 98.31%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  font-size: 45px;
}

.habilidades .texto p {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #6A6A6A;
  font-weight: 300;
  width: 60rem;
  gap: 1rem;
}

.habilidades .texto {
  margin: 5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.habilidades .items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 5rem 0;
}

.habilidades .part-item {
  border-radius: 10px;
  background: rgba(217, 217, 217, 0.15);
  width: 26rem;
  height: 6rem;
  display: flex;
  align-items: center;
}

.habilidades .part-item {
  color: #fff;
  font-weight: 200;
}

.habilidades .part-item span {
  font-weight: 600;
}

.habilidades .icon {
  width: 2.7rem;
  margin: 1.5rem;
}

.habilidades .items .part1 {
  display: flex;
  flex-direction: row;
  gap: 25vw;
  transition: gap 0.2s;
}

.habilidades .items .part1:hover {
  gap: 20vw;
}

.habilidades .items .part2 {
  display: flex;
  flex-direction: row;
  gap: 10vw;
  transition: gap 0.2s;
}

.habilidades .items .part2:hover {
  gap: 5vw;
}

.habilidades .voltar-inicio {
  display: flex;
  justify-content: center;
}

.habilidades .voltar-inicio button {
  font-size: 1rem;
  padding: 1rem 1.5rem;
  font-weight: 400;
  color: #fff;
  font-family: ClashDisplay;
  border: none;
  border-radius: 1rem;
  background: linear-gradient(262deg, #BD00FF 0%, #0057FF 100%);
  cursor: pointer;
  transition: padding 0.2s, font-size 0.2s;
}

.habilidades .voltar-inicio button:hover {
  padding: 1rem 2rem;
  font-size: 15px;
}

/*---------------------------------sessão "conectar"-------------------------------*/

.conectar {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #222;
  height: 20rem;
  font-family: ClashDisplay;
  justify-content: center;
  gap: 8rem;
}

.conectar .frase {
  background: linear-gradient(267deg, #c72eff 7.77%, #2d73ff 98.31%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
}

.conectar .conectar-frase {
  font-weight: 200;
  letter-spacing: 0.2px;
  display: flex;
  flex-direction: column;
}

.conectar .icones {

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.conectar .icones img {
  width: 2rem;
  cursor: pointer;
  transition: transform 0.2s;
}

.conectar .icones img:hover {
  transform: scale(1.4);
}

.conectar .forma {
  display: flex;
  padding: 2rem;
  align-items: center;
  border-radius: 38px 38px 38px 3px;
  background: linear-gradient(264deg, #BD00FF -2.38%, #0057FF 109.82%);
}

.conectar .forma .conectar-frase {
  color: #fff;
  line-height: 0.9rem;
}

.conectar .forma .conectar-frase span {
  font-size: 20px;
  font-weight: 500;
}

.conectar button {
  border-radius: 11px;
  background: #FFF;
  border: none;
  font-family: ClashDisplay;
  font-size: 20px;
  font-weight: 600;
  padding: 1rem;
  cursor: pointer;
  transition: padding 0.2s, font-size 0.2s;
}

.conectar .contate {
  margin: 0 0 0 5rem;
}

.conectar button:hover {
  font-size: 17px;
  padding: 1rem 2rem;
}