@font-face {
    font-family: ClashDisplay;
    src: url(../../../../public/ClashDisplay-Variable.ttf);
  }

.container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .itens{
  display: flex;
  flex-direction: column;
  margin: 5% 0;
}

.container .itens .linha{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1vw;
  align-content: center;
}

.container .itens hr{
  width: 10vw;
  height: 10vw;
  border: 1px solid #7700ff;
  transition: transform 0.3s;
  border-radius: 10px;
}

.container .itens hr:hover{
  width: 10vw;
  height: 10vw;
  border: 1px solid #7700ff;
  transform: scale(1.05);
  transition: 0.3s;
}