@font-face {
  font-family: ClashDisplay;
  src: url(../../../../public/ClashDisplay-Variable.ttf);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .itens {
  display: flex;
  flex-direction: column;
  margin: 5% 0;
}

.container .itens .linha {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.3vw;
  align-content: center;
}

.container .itens .item img {
  width: 100%;
  height: 100%;
  border-color: #000000;
}