@media screen and (max-width: 550px) {
    .container .itens .item img {
        width: 30vw;
        height: 30vw;
    }


    .container .itens {
        margin: 0vw !important;
        margin-top: 2vw !important;
        margin-bottom: 30vw !important;
    }

    .container .itens .linha {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 1vw 3vw;
        gap: 0vw;
        align-content: center;
    }

    .footer {
        display: none;
    }

    .navegacao {
        min-height: 0px;
    }
}