@media screen and (max-width: 550px) {

    .container-social-media .itens-feed .grid-feed {
        grid-template-columns: repeat(3, 1fr);
        gap: 1vw;
        margin-bottom: 20vw;
    }


    .container-social-media .itens-feed .feed img {
        width: 30vw !important;
        height: 30vw !important;
    }

    .container-social-media .grid-stories {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1vw;
        margin-bottom: 20vw;
    }

    .container-social-media .grid-stories img {
        width: 45vw !important;
        height: auto !important;
    }

    .container-social-media .divisao hr {
        width: 80vw;
    }

    .container-social-media .frase {
        margin: 7vh 0;
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 12px;
        width: 35vh;
        color: #797979;
        letter-spacing: 0.2px;
        line-height: 12px;
    }
}