.headerSpace {
  height: 4rem;
}

.Header {
  display: flex;
  align-items: center;
  height: 4rem;
  width: 100%;


  border-bottom: 1.7px solid rgba(255, 255, 255, 0.062);
  background: linear-gradient(91deg, rgba(217, 217, 217, 0.015) -5.03%, rgba(217, 217, 217, 0.00) -5.02%, rgba(217, 217, 217, 0.04) 27.86%, rgba(217, 217, 217, 0.03) 46.25%, rgba(217, 217, 217, 0.06) 89.31%, rgba(217, 217, 217, 0.00) 102%);
  backdrop-filter: blur(5px);
  position: fixed;
}

.logoSant {
  width: 130px;
  cursor: pointer;
  transition: width 0.2s;
}

.logoSant:hover {
  width: 140px;
}

.header.botoes {
  display: flex;
  align-items: center;
}

.header .esquerda {
  width: 25%;
  display: flex;
  align-items: center;
  margin-left: 2rem;
}

.header .direita {
  width: 25%;
  display: flex;
  justify-content: flex-end;
  margin-right: 2rem;
  align-items: center;
}

.header .meio {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header .meio .botoes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.portfolio-menu {
  font-family: poppins;
  position: absolute;
  display: none;
  border-top: 2.4rem;
  padding: 10px;

  border-radius: 16.699px;
  border: 1.113px solid rgba(255, 255, 255, 0.33);
  background-color: #0000003a;
  border-radius: 10px;
  border-color: #ffffff17;
  margin-top: 2.25rem;
  transition: width 0.2s, margin-top 0.2s;
}

.portfolioDropdown:hover .portfolio-menu {
  display: block;
  ;
}

.portfolio-botoes {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.portfolio-menu a {
  text-decoration: none;
  text-wrap: nowrap;
  font-size: 13px;
  background-color: #7474740b;
  border: 1px solid rgba(255, 255, 255, 0.132);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: center;
  padding: 8px 15px;


  color: #ffffff;
  font-family: "Poppins";
  transition: padding 0.3s, background 0.2s;
}

.portfolio-menu a:hover {
  border: none;
  padding: 14px 15px;
  background: linear-gradient(90deg, rgb(0, 86.7, 255) 0%, rgb(188.7, 0, 255) 100%);
}

.portfolioDropdown {
  display: flex;
  justify-content: center;
  gap: 500px;
}


.contato-menu {
  font-family: poppins;
  position: absolute;
  display: none;
  border-top: 2.4rem;
  border-radius: 16.699px;
  border: 1.113px solid rgba(255, 255, 255, 0.33);
  background-color: #0000003a;
  border-radius: 10px;
  border-color: #ffffff17;
  margin-top: 2.25rem;
  transition: width, 0.2s;
}

.contato-menu a {
  text-decoration: none;
  text-wrap: nowrap;
  padding: 10px 12px;
  margin: 10px;
  font-size: 13px;
  background-color: #7474740b;
  border: 1px solid rgba(255, 255, 255, 0.132);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: center;


  color: #ffffff;
  font-family: "Poppins";
  transition: padding 0.3s, background 0.2s;
}

.contato-menu a:hover {
  background: linear-gradient(90deg, rgb(0, 86.7, 255) 0%, rgb(188.7, 0, 255) 100%);
  border: none;
  padding: 15px 10px;
}

.contatoDropdown {
  display: flex;
  justify-content: center;
  gap: 500px;
}


.contatoDropdown:hover .contato-menu {
  display: block;
}

.header .meio .botoes button {
  background-color: #ffffff05;
  border: 1px solid;
  padding: 8px 15px;
  border-color: #3d3d3d;
  border-radius: 9.64px;
  overflow: hidden;
  position: relative;
  color: #ffffff;
  font-family: "Poppins";
  font-weight: 400;
  cursor: pointer;
  transition: padding 0.2s;
}

.header .meio .botoes button:hover {
  background: linear-gradient(90deg, rgb(0, 86.7, 255) 0%, rgb(188.7, 0, 255) 100%);
  border: none;
  padding: 8px 20px;

}

.header .direita button {
  background: linear-gradient(90deg, rgb(0, 86.7, 255) 0%, rgb(188.7, 0, 255) 100%);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10.54px;
  border: none;
  padding: 10px 25px;
  color: #ffffff;
  font-family: "Poppins";
  font-weight: 400;
  cursor: pointer;
  transition: padding, 0.2s;
}

.header .direita button:hover {
  padding: 15px 30px;
}