@font-face {
    font-family: ClashDisplay;
    src: url(../../../../public//ClashDisplay-Variable.ttf);
  }

  @keyframes rotacionarGradiente {
    0% {
      background-position: 0% 0%;
    }
    100% {
      background-position: 100% 100%;
    }
  }

  .ux-container{
    background: radial-gradient(50% 50% at 50% 50%, rgba(64, 0, 87, 0.42) 0%, rgba(19, 19, 21, 0.00) 100%);
    animation: rotacionarGradiente 2s linear infinite alternate;
    background-size: 200% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    margin: 0;
    padding: 0;
  }

  .ux-container .frase{
    text-align: center;
    color: #616161;
    width: 70vh;
    margin: 5vh 0;
  }

  .ux-container .frase span{
    background: linear-gradient(271deg, #BD00FF 23.52%, #0057FF 143.29%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: ClashDisplay;
    font-size: 40px;
    font-weight: 600;
  }

  .ux-container .itens{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    height: 50vh;
  }

  .ux-container .itens img{
    width: 17vw;
    height: auto;
    border-radius: 10px;
    margin: 0px;
    transition: transform 0.2s, margin 0.2s;
  }

  .ux-container .itens img:hover{
    transform: scale(0.95);
    cursor: pointer;
  }

  .ux-container .itens img:active{
    transform: scale(1);
  }

  .ux-container .itens .linha{
    display: grid;
    grid-template-columns: repeat(5, 5fr);
    gap: 10px;
  }

  .ux-container .footer{
    position: absolute;
    bottom: 0;
    width: 100%;
  }